<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/base.css">
    <title>アパレル情報共有システム　メニュー</title>
</head>

<body>
    <center>
        <div class="common">
            <form action="/doLogin" method="post">
                <div align="center">
                    <br>
                    <h1>アパレル情報共有システム　メニュー</h1>
                </div>
                <br>
                <div align="center">
                    <input type="button" class="main_upload" onclick="location.href='/moveUploadPage'" value="アップロード">
                </div>
                <br>
                <div align="center">
                    <input type="button" class="main_download" onclick="location.href='/moveDownloadPage'"
                        value="検索表示&#13;&#10;ダウンロード">
                </div>
                <br><br><br>
            </form>
            <footer>
                <div align="left">
                    <p><small>※ブラウザを閉じる×とログアウトになります</small></p>
                </div>
            </footer>
        </div>
    </center>
</body>

</html>